body {
  margin: 0;
  background-color: #1a1a1a;
  font-family: "Gill Sans", sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

hr {
  border-color: #545454;
}

button, select {
  font-family: inherit;
  font-size: 1em;
  color: #cdcdcd;
  background-color: #323232;
  border: none;
  outline: none;

  /* Alt style */
  /* color: #cdcdcd;
  background-color: #1a1a1a;
  border: 1px solid #cdcdcd;
  outline: none; */
  
  transition: background-color 80ms, color 80ms, transform 80ms;
}

button:hover, select:hover {
  /* Alt style */
  /* color: #1a1a1a;
  background-color: #cdcdcd; */

  background-color: #545454;
}

button:active, select:active {
  transform: scale(0.96);
}

.root {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
}

#info {
  margin: auto;
  color: #cdcdcd;
  padding: 0 4px 20px 4px;
  text-align: center;
  line-height: 20px;
}

#grid {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.sq {
  width: 64px;
  height: 64px;
  border: 1px solid #1a1a1a;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 42px;
  font-weight: 150;
  color: #cdcdcd;
  line-height: 1;
  background-color: #323232;
}

.sq:hover {
  background-color: #545454;
}

.sq-debug {
  padding-top: 2px;
  font-size: 21px;
}

.sq-posbl {
  padding: 5px 4px;
  font-size: 17px;
  color: #888;
  font-family: 'Courier New', Courier, monospace;
}

.separator-row {
  width: 4px;
}

.separator-col {
  height: 4px;
}

.green {
  color: #7bfa83
}

.blue {
  color: rgb(55, 165, 255);
}

.red {
  color: #d94242;
}

.yellow {
  color: #f2cc4e;
}

.purple {
  color: #c74fdf;
}

.gray {
  color: #888;
}

.controls {
  margin: auto;
  margin-top: 24px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.controls select {
  height: 46px;
  margin: 4px 2px;
}

.controls button {
  padding: 12px;
  margin: 4px 4px;
}

#keypad button {
  width: 46px;
  height: 46px;
  margin: 2px 0;
}

.keypadBtnActive {
  border: 1px solid #cdcdcd;
}

@media screen and (max-width: 1024px) {
  button {
    transition: none;
  }

  button:hover {
    background-color: #323232;
  }

  button:active {
    background-color: #545454;
    transform: scale(1);
  }
}
