body {
  background-color: #323232;
  font-family: "Gill Sans", sans-serif;
}

button, select {
  font-family: inherit;
  font-size: 1em;
}

.root {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
}

#info {
  margin: auto;
  color: #cdcdcd;
  padding-bottom: 24px;
  text-align: center;
  line-height: 20px;
}

#grid {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: 4px solid #cdcdcd;
}

.row {
  display: flex;
}

.sq {
  width: 64px;
  height: 64px;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding-top: 6px;
  box-sizing: border-box;
  font-size: 42px;
  font-weight: 150;
  color: #cdcdcd;
}

.sq:hover {
  background-color: #454545;
}

.sq-debug {
  padding-top: 2px;
  font-size: 21px;
}

.sq-posbl {
  padding: 5px 4px;
  font-size: 17px;
  line-height: 17px;
  color: #888;
  font-family: 'Courier New', Courier, monospace;
}

.separator-row {
  width: 4px;
  height: 64px;
  background-color: #cdcdcd;
}

.separator-col {
  width: 100%;
  height: 4px;
  background-color: #cdcdcd;
}

.green {
  color: #7bfa83
}

.blue {
  color: rgb(55, 165, 255);
}

.red {
  color: #d94242;
}

.yellow {
  color: #f2cc4e;
}

.purple {
  color: #c74fdf;
}

.gray {
  color: #888;
}

.controls {
  margin: auto;
  margin-top: 20px;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.controls select {
  height: 46px;
  margin: 0 2px;
}

.controls button {
  padding: 12px;
  margin: 0 4px;
}